@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap');

@import './utils/mixins';
@import './utils/variables';
@import './utils/settings';
@import './layout/home';