// header

header {
    background-image: url("../../Publics/images/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    padding: 1.7rem;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.nav-card {
    display: block;
    position: fixed;
    left: 5%;
    top: 5rem;
    transform: translateX(-120%);
    background: hsl(46, 55%, 94%);
    text-align: center;
    padding: 2rem;
    z-index: 10;
    width: 88%;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -1.2rem;
        border-top: .6rem solid transparent;
        border-bottom: .6rem solid hsl(46, 55%, 94%);
        border-left: .6rem solid transparent;
        border-right: .6rem solid hsl(46, 55%, 94%);
    }
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;

    &>li {
        color: hsl(46, 55%, 94%);
        font-family: $font-family;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 1px;
        padding: 5px 30px;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &>a {
            color: $grayish-blue;


            &:hover {
                color: black;
                text-transform: uppercase;
            }
        }

        &:hover {
            color: hsl(46, 55%, 94%);
            border: $yellow 1px solid;
            border-radius: 20px;
            background: $yellow;
        }
    }
}

.head-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>h1 {
        color: $white;
        font-family: $font-family-2;
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;
        letter-spacing: 9px;
        line-height: 1.2;
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}

// main
// section articles

.transform {
    @include image-article;
}

.transform-desc {
    @include article;

    &>h1 {
        @include article-title;
    }

    &>p {
        @include article-paragraph;
    }

    &>a {
        @include article-link;

        &:hover::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .7rem;
            background: hsl(51deg 100% 49% / 42%);
            z-index: -1;
            border-radius: .5rem;
            transition: .35s;
        }
    }
}

.stand-out {
    @include image-article;
}

.stand-out-article {
    @include article;

    &>h1 {
        @include article-title;
    }

    &>p {
        @include article-paragraph;
    }

    &>a {
        @include article-link;

        &:hover::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .7rem;
            background: hsl(7deg 99% 70% / 47%);
            z-index: -1;
            border-radius: .5rem;
            transition: .35s;
        }
    }
}

.article-cherry {
    @include image-writte;
    height: 599px;
}

.content {
    @include writte;
    color: $dark-desaturated-cyan;
}

.article-photography {
    @include image-writte;
    height: 599px;
}

.content-photography {
    @include writte;
    color: $dark-blue;
}

// section testimonial

.testimonials {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

    &>h2 {
        color: $grayish-blue;
        font-family: $font-family-2;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5px;
        margin-bottom: 4rem;
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;

    &>img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
}

.testimonial-content {
    &>p {
        color: $very-dark-grayish-blue;
        font-family: $font-family;
        line-height: 1.8;
        margin-bottom: 2rem;
    }

    &>h3 {
        color: $very-dark-desaturated-blue;
        font-family: $font-family-2;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &>h4 {
        color: $grayish-blue;
        font-family: $font-family;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: 2px;
    }
}

// Section gallerie

.gallerie {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 187px;
    height: 200px;
    overflow: hidden;

    &>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// section footer

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socials {

    &>h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;

        &>img {
            width: 100px;
            height: 60px;
        }
    }

    &>p {
        color: $white;
        font-family: $font-family;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 2rem;
    }

    &>a {
        color: $white;
        font-family: $font-family;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: 2px;
        text-decoration: none;
        margin-bottom: 2rem;
    }
}