/* Base du site settings */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 1.7;
}

a {
    text-decoration: none;
}