/* Base du site settings */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: $font-family;
    font-size: 18px;
    background-color: $white;
}

a {
    text-decoration: none;
}

footer {
    color: $dark-desaturated-cyan;
    background-color: $dark-moderate-cyan;
}