// ### Primary

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
//  (graphic design text)
$dark-desaturated-cyan: #235348;
// (photography text)
$dark-blue: hsl(198, 62%, 26%);
// (footer)
$dark-moderate-cyan: hsl(168, 43%, 66%);

// ### Neutral

$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: #ffffff;


// ### Font

$font-family: 'Barlow',
sans-serif;
$font-family-2: 'Fraunces',
serif;